{% extends 'relation/home.html' %}
{% block content %}
{% load static %}
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, repellat corrupti, impedit amet necessitatibus quos
     reprehenderit quod placeat sequi expedita soluta minus rem modi, perspiciatis ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vitae ratione at cumque fugiat reiciendis, adipisci aspernatur necessitatibus 
     animi voluptatum corporis possimus aperiam quas repudiandae temporibus deserunt perferendis modi facere! Dolorum sed fugit nulla.</p>
<img width="50%" height="50%" style="background-color:rgb(183, 221, 208);" src="{% static 'image/it2.jpg'%}">
{% endblock %}